@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #112D4E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
}

.logo {
    font-size: 28px;
    width: 8em;
    text-align: center;
    color: white;
}

.menu {
    margin-right: 2rem;
}

.secao-quem-sou img {
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
}

.descricao-secao {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    background: linear-gradient(to bottom, #fff, #14263a33);
    border: 1px solid black;
    align-items: flex-end;
}

.descricao-secao h2 {
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    width: 12rem;
}

.descricao-secao p {
    width: 14.5rem;
    padding-bottom: 1rem;
}

.descricao-secao img {
    width: 9rem;
    height: 16.8rem;
}

/*-----------------------------------------------------*/

/* .fade-in.direito {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */


.areas-atuacao {
    text-align: center;
    padding-top: 3rem;
    background-image: url(/Imagens/bg-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 2rem;
}

.areas-atuacao h2 {
    margin-bottom: 2rem;
}

.areas-atuacao p {
    margin-top: 1rem;
    display: grid;
}


.areas {
    text-align: center;
    width: 20rem;
    margin: auto;
}

.direito {
    margin-bottom: 2rem;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}

